h1 {
    text-align: center;
    color: red;
  text-shadow: 1px 1px 1px;
    
}

h2 {
    text-align: center;
    color: red;
    transform: translate(10px,20px); 
    transition: width 2px;
    
   }

img:hover { 
    transform: rotate(190deg);
     text-align: center;
     width:200px;
     animation: img 7s linear 3s infinite alternate;
     
    
}
     
     

 img {
     transition: width 2s, height 2s, transform 2s;

 
}
html {
    height:100%;
    
}

body {
     background: linear-gradient(gray, red);
}

